extends layout

block head
	- var active = 'login'

block content
	h1 Inicia Sesion
	
	form(method='POST', action='/user/auth')
		.form-group
			label(for='inputUser') Usuario
			input#inputUser.form-conttrol(type="text", placeholder="Introduzca su usuario:", name="user")
		.form-group
			label(for='inputPassword') Usuario
			input#inputPassword.form-conttrol(type="password", placeholder="*******", name="password")
		button.btn.btn-lg.btn-default(type="submit") Iniciar Sesion